/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Roboto+Mono:wght@300;400;600&display=swap");

body {
  background-color: #2c3e50;
  color: white;
  margin: 0px;
  font-family: "Roboto Mono", monospace;
  font: 300;
}

.weather {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  padding: 15px 20px;
  font-family: "Caveat", cursive;
  font: 400;
  font-size: 20px;
}

main {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  */
}

.name-form,
.greetings {
  display: none;
}

input {
  border: none;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
  color: white;
}
input::placeholder {
  color: white;
}
.greetings {
  font-size: 35px;
  margin: 0px;
  margin-bottom: 30px;
}

.clock,
.todo-form,
.todo-box,
.show-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock {
  height: 50vh;
  font-size: 40px;
  align-items: flex-end;
  margin-bottom: 20px;
}
.clock h1 {
  margin: 0px;
}
.todo-list {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.todo-box {
  padding: 0px 600px;
  justify-content: left;
}
li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.todo-list__todo {
  font-size: 20px;
}
i {
  margin-right: 20px;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
